<!DOCTYPE html>
<html lang="pt">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    
    <%- include('partials/header.ejs') %>
    
    <h1>Posts</h1>

    <article>
        <h2>Postes</h2>

        <div class='posts'>

            <% posts.forEach( item => { %>

                <div class='post'>
                    <h3> <%= item.title%> </h3>
                    <p><%= item.text%> </p>
                    <% if(item.stars){%>
                        <% for( let index = 0; index < item.stars; index++ ) { %>
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Star_icon_stylized.svg/1077px-Star_icon_stylized.svg.png" alt="Icon Star" width="20">
                        <% } %>
                    <% } %>
                </div>

            <% }) %>

        </div>

    </article>
    
    <%- include('partials/footer.ejs') %>

    <%- include("partials/foot.ejs")%>

</body>
</html>